<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.dao.StuMapper">

<!--    查询 通过id查询 -->
    <select id="findStuById" parameterType="integer" resultType="Stu">
        select * from t_stu where id = #{id}
    </select>
<!--    查询 查询所有-->
    <select id="findStuAll" resultType="Stu">
        select * from t_stu
    </select>
<!--    删除  通过id删除 -->
    <delete id="deleteStu" parameterType="integer">
        delete from t_stu where id = #{id}
    </delete>

</mapper>